XXML/menu.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="menu">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="price" type="xs:int"></xs:element>
        <xs:element name="name" type="xs:string"></xs:element>
        <xs:element name="dec" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>